@import "../../base.scss";
.row-container {
  .scroll-container {
    margin: 0;
    padding: 2rem 5%;
    display: flex;
    justify-content: flex-start;
    margin-right: 0.75rem;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
