@import "../../base.scss";

.person {
  padding: 5rem 5% 0;
  color: $textBlack;
  .person-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    @include respon(phone-pot) {
      flex-direction: column;
    }
    @include respon(phone-land) {
      flex-direction: column;
    }
    @include respon(tb-pot) {
      flex-direction: column;
    }
  }
  .poster {
    object-fit: contain;
    height: inherit;
    margin-right: 2.5rem;
    @include respon(phone-pot) {
      text-align: center;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
    @include respon(phone-land) {
      text-align: center;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
    @include respon(tb-pot) {
      text-align: center;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
    .poster_image {
      object-fit: contain;
      height: 370px;
      border-radius: 1rem;
      box-shadow: $shadow-card;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include respon(phone-land) {
        height: 420px;
      }
      @include respon(tb-pot) {
        height: 450px;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include respon(phone-pot) {
      justify-content: center;
    }
    @include respon(phone-land) {
      justify-content: center;
    }
    @include respon(tb-pot) {
      justify-content: center;
    }
    h1 {
      font-weight: $bold;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      @include respon(phone-pot) {
        margin-bottom: 1rem;
      }
      @include respon(phone-land) {
        margin-bottom: 1rem;
      }
      @include respon(tb-pot) {
        margin-bottom: 1rem;
      }
    }
    .biography {
      h3 {
        font-weight: $medium;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-weight: $regular;
        font-size: 1rem;
      }
    }
    .additional {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem;
      @include respon(phone-pot) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      @include respon(phone-land) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      @include respon(tb-pot) {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      .detail {
        @include respon(phone-pot) {
          margin-bottom: 0.75rem;
        }
        @include respon(phone-land) {
          margin-bottom: 0.75rem;
        }
        h4 {
          font-weight: $medium;
          font-size: 1.25rem;
          margin-bottom: 0.25rem;
          @include respon(phone-pot) {
            font-size: 1.5rem;
          }
          @include respon(phone-land) {
            font-size: 1.5rem;
          }
          @include respon(tb-pot) {
            font-size: 1.25rem;
          }
        }
        p {
          font-weight: $regular;
          font-size: 1rem;
          @include respon(phone-pot) {
            font-size: 1.1rem;
          }
          @include respon(phone-land) {
            font-size: 1.1rem;
          }
          @include respon(tb-pot) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
