@import "../../base.scss";

.banner {
  position: relative;
}

.fadebackground {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  z-index: 3;
}

.linierGradient {
  background: linear-gradient(
    90deg,
    rgba(118, 118, 118, 0.78) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.flexbox {
  position: relative;
  z-index: 2;
  padding: 6% 5% 2%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 60vh;
  @include respon(phone) {
    flex-direction: column;
  }

  .banner-details {
    width: 60%;
    @include respon(phone) {
      width: 100%;
    }

    .title {
      color: white;
      font-size: 3rem;
      font-weight: 700;

      .year {
        font-weight: 600;
      }
    }

    .genre-duration {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 0.5rem;
    }

    .genre-duration-detail {
      display: flex;
      align-content: center;
      align-items: center;

      &__text {
        color: white;
        font-weight: 500;
        margin-left: 0.5rem;
        margin-right: 2rem;
        font-size: 1.25rem;
      }
    }

    .rating-trailer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;
      @include respon(phone) {
        justify-content: space-between;
      }
    }
    .rating-trailer-detail {
      display: flex;
      align-content: center;
      align-items: center;
      margin-right: 3rem;
      @include respon(phone) {
        margin-right: 0;
      }

      &__text {
        color: black;
        margin-left: 1rem;
        color: white;
        font-weight: 700;
        @include respon(phone) {
          font-size: 1rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .little-circle {
      height: 1rem;
      width: 1rem;
      background-color: $primaryColor;
      border-radius: 9999px;
    }
    .rounded-icon {
      background-color: $primaryColor;
      display: flex;
      height: 4rem;
      width: 4rem;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include respon(phone) {
        height: 3rem;
        width: 3rem;
      }

      &:hover {
        transform: scale(1.05);
        color: $primaryColor;
        background-color: white;
      }
      p {
        font-size: 1.25rem;
        font-weight: 700;
        @include respon(phone) {
          font-size: 1rem;
        }
      }
    }

    .description {
      margin-top: 3rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: white;
    }
  }

  .banner-poster {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    border-radius: 10px;
    @include respon(phone) {
      margin-top: 2rem;
    }

    .poster {
      object-fit: contain;
      height: 350px;
      border-radius: 1rem;
      box-shadow: $shadow-card;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.play-icon {
  width: 35px;
  height: 35px;
}
