@import "../../base.scss";

.banner {
  position: relative;
  height: 70vh;
  @include respon(phone-pot) {
    height: 120vh;
    background-position: top;
  }
  @include respon(phone-land) {
    height: 120vh;
    background-position: top;
  }
  @include respon(tb-pot) {
    height: 120vh;
    background-position: top;
  }
  @include respon(tb-land) {
    height: 120vh;
  }
}

.fadebackground {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.linierGradient {
  background: linear-gradient(
    90deg,
    #767676 0%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include respon(phone-pot) {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(118, 118, 118, 0.4) 30%,
      rgba(118, 118, 118, 0.8) 100%
    );
  }
  @include respon(phone-land) {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(118, 118, 118, 0.4) 30%,
      rgba(118, 118, 118, 0.8) 100%
    );
  }
  @include respon(tb-pot) {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(118, 118, 118, 0.4) 30%,
      rgba(118, 118, 118, 0.8) 100%
    );
  }
}

.flexbox {
  position: relative;
  z-index: 3;
  padding: 6% 5% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: center;
  height: 60vh;
  @include respon(phone-pot) {
    flex-direction: column;
    margin-top: 7.5rem;
  }
  @include respon(phone-land) {
    flex-direction: column;
    margin-top: 7.5rem;
  }
  @include respon(tb-pot) {
    flex-direction: column;
    margin-top: 8.5rem;
  }

  .banner-details {
    width: 60%;
    @include respon(phone-pot) {
      text-align: center;
      width: 100%;
      margin-top: 1rem;
    }
    @include respon(phone-land) {
      text-align: center;
      width: 100%;
      margin-top: 1rem;
    }
    @include respon(tb-pot) {
      text-align: center;
      width: 100%;
      margin-top: 2rem;
    }

    .title {
      color: white;
      font-size: 3rem;
      font-weight: 700;
      @include respon(phone-pot) {
        font-size: 1.75rem;
      }
      @include respon(phone-land) {
        font-size: 2rem;
      }
      @include respon(tb-pot) {
        font-size: 2.5rem;
      }

      .year {
        font-weight: 600;
      }
    }

    .genre-duration {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 0.5rem;
    }

    .genre-duration-detail {
      display: flex;
      align-content: center;
      align-items: center;

      &__text {
        color: white;
        font-weight: 500;
        margin-left: 0.5rem;
        margin-right: 2rem;
        font-size: 1.25rem;
        @include respon(phone-pot) {
          margin-left: 0.25rem;
          margin-right: 0.5rem;
          font-size: 1rem;
        }
        @include respon(phone-land) {
          margin-left: 0.25rem;
          margin-right: 0.5rem;
          font-size: 1rem;
        }
        @include respon(tb-pot) {
          font-size: 1.25rem;
        }
      }
    }

    .rating-trailer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;
      @include respon(phone-pot) {
        margin-top: 0.75rem;
        justify-content: space-between;
      }
      @include respon(phone-land) {
        margin-top: 1rem;
        justify-content: space-between;
      }
      @include respon(tb-pot) {
        margin-top: 1.5rem;
        justify-content: space-between;
      }
    }
    .rating-trailer-detail {
      display: flex;
      align-content: center;
      align-items: center;
      margin-right: 3rem;
      @include respon(phone-pot) {
        margin-right: 0;
      }
      @include respon(phone-land) {
        margin-right: 0;
      }
      @include respon(tb-pot) {
        margin-right: 0;
      }

      &__text {
        color: black;
        margin-left: 1rem;
        color: white;
        font-weight: 700;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .little-circle {
      min-height: 1rem;
      min-width: 1rem;
      background-color: $primaryColor;
      border-radius: 9999px;
    }
    .rounded-icon {
      background-color: $primaryColor;
      display: flex;
      min-height: 4rem;
      min-width: 4rem;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
        color: $primaryColor;
        background-color: white;
      }
      p {
        font-size: 1.25rem;
        font-weight: 700;
        @include respon(phone-pot) {
          font-size: 1rem;
        }
        @include respon(phone-land) {
          font-size: 1.25rem;
        }
        @include respon(tb-pot) {
          font-size: 1.25rem;
        }
      }
    }

    .description {
      margin-top: 2rem;
      font-size: 1.1rem;
      font-weight: 500;
      color: white;
      @include respon(phone-pot) {
        font-size: 1rem;
      }
    }
  }

  .banner-poster {
    text-align: center;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 10px;
    @include respon(phone-pot) {
      width: 100%;
      margin-top: 2rem;
    }
    @include respon(phone-land) {
      width: 100%;
    }
    @include respon(tb-pot) {
      width: 100%;
    }

    .poster {
      z-index: 5;
      object-fit: contain;
      height: 350px;
      border-radius: 1rem;
      margin: 0;
      box-shadow: $shadow-card;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
      @include respon(phone-pot) {
        height: 275px;
      }
      @include respon(phone-land) {
        height: 325px;
      }
      @include respon(tb-pot) {
        height: 375px;
      }
    }
  }
}

.play-icon {
  width: 35px;
  height: 35px;
}
