@import "../../base.scss";

.card-movieTV {
  position: relative;
  border-radius: 10px;
  width: 200px;
  height: 270px;
  margin: 2.5% 5%;
  background-color: white;
  box-shadow: $shadow-card;

  .rating {
    position: absolute;
    top: 5%;
    left: 0;
    background-color: $terneryColor;
    padding: 0.5rem 0.75rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    p {
      color: $backgroundBase;
      font-weight: 700;
    }
  }
}
