@import "../../base.scss";

.card-movieTV {
  position: relative;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  margin-right: 0.5rem;
  box-shadow: $shadow-card;

  .rating {
    position: absolute;
    top: 5%;
    left: 0;
    background-color: $terneryColor;
    padding: 0.5rem 0.75rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    p {
      color: $backgroundBase;
      font-weight: 700;
    }
  }

  .details {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    background-color: black;
    opacity: 0.4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
  }

  .poster {
    // object-fit: contain;
    width: 200px;
    max-height: 500px;
    border-radius: 0.75rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      margin: 0 2rem;

      .rating {
        display: none;
      }
    }
  }
}
