@import "../../base.scss";

.footer {
  background-color: $darkBackground;
  padding: 5% 5%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 3rem;
  @include respon(phone-pot) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include respon(phone-land) {
    flex-direction: column;
    align-items: flex-start;
  }

  h3 {
    color: $textBlack;
    font-size: $header-3;
    font-weight: $semi-bold;
    margin-bottom: 1.25rem;
    @include respon(phone-pot) {
      margin-bottom: 0.75rem;
      margin-top: 1rem;
    }
    @include respon(phone-land) {
      margin-bottom: 0.75rem;
      margin-top: 1rem;
    }
  }

  .moviedb {
    width: 150px;
    @include respon(phone-pot) {
      width: 100%;
    }
    @include respon(phone-land) {
      width: 100%;
    }
    .logo {
      width: 150px;
    }
  }

  .description {
    width: 35%;
    @include respon(phone-pot) {
      width: 100%;
      margin-top: 1.25rem;
    }
    @include respon(phone-land) {
      width: 100%;
      margin-top: 1.25rem;
    }
    p {
      color: $textGray;
      word-break: break-word;
      font-weight: $regular;
      font-size: 1rem;
    }
  }

  .contact {
    position: relative;
    @include respon(phone-pot) {
      width: 100%;
      margin-top: 1.25rem;
    }
    @include respon(phone-land) {
      width: 100%;
      margin-top: 1.25rem;
    }

    .socmed {
      width: 100%;

      .media {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.75rem;

        .icon {
          width: 1.25rem;
          height: 1.25rem;
          color: $textBlack;
        }

        a {
          margin-left: 0.5rem;
          color: $textGray;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            color: $textBlack;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.copyright {
  text-align: center;
  padding: 0 5% 1rem;
  background-color: $darkBackground;
  color: $textBlack;

  .one {
    font-weight: $semi-bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .two {
    font-weight: $regular;
  }
}
