@import "../../base.scss";

.card-person {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 270px;
  background-color: white;
  position: relative;
  box-shadow: $shadow-card;
  border-radius: 0.375rem;
  margin: 5%;

  .details {
    position: absolute;
    width: 100%;
    background-color: $terneryColor;
    color: $backgroundBase;
    bottom: 0;
    left: 0;
    padding: 0.7rem 1rem;

    .name-cast {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .name-real {
      font-weight: 400;
    }
  }
}
