@import "../../base.scss";

.card-person {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 270px;
  background-color: white;
  position: relative;
  box-shadow: $shadow-card;
  border-radius: 0.375rem;
  margin-right: 0.75rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    margin: 0 2rem;
  }

  .details {
    position: absolute;
    width: 100%;
    background-color: $primaryColor;
    color: $backgroundBase;
    bottom: 0;
    left: 0;
    padding: 0.7rem 1rem;

    .name-cast {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .name-real {
      font-weight: 400;
    }
  }
}
